.well {
    margin: 20px 0;
    background-color: #fcf7f7;
    border-radius: 10px;
    width: 100%;
  }

  .card-section ion-card {
    box-shadow: none;
  }
  
  .card-section ion-label {
    margin-bottom: 0 !important;
    font-weight: normal !important;
    font-family: Inter;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    color: #a0a0a0;
  }
  
  .card-section h3 {
    margin: 5px 0 !important;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    font-family: "Inter", sans-serif;
  }
  
  .card-section h4 {
    font-style: normal;
    line-height: 22px;
    color: #000000;
    opacity: 0.65;
    font-size: 14px !important;
    font-weight: normal !important;
    margin: 5px 0 !important;
    font-family: "Inter", sans-serif;
  }

  .header-date {
    padding: 10px;
    color: #ffffff;
    opacity: 0.75;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .flex-align-center {
    display: flex;
    align-items: center;
  }

  /* Dark mode */

@media (prefers-color-scheme: dark) {
    /* ion-searchbar.custom {
      --background: #1e2023;
    }
  
    .timestamp {
      color: #8f8f8f;
    } */
  
    /* .custom-input {
      --background: #1e2023;
      border: 1px solid #444444;
    } */

    .card-section h4 {
      color: #ffffff;
      opacity: 0.85;
    }
  
    .meta-data {
      color: #ffffff;
      opacity: 0.65;
    }
  
    .header-date {
      color: #ffffff;
      opacity: 0.75;
    }å
    .header-time {
      color: #ffffff;
      opacity: 0.65;
    }
  
    .detail-address {
      color: #ffffff;
      opacity: 0.75;
    }
  
    .well {
      background-color: #333;
    }
  
    /* ion-item {
      --border-color: #282828;
    } */
  }